
/************************************************
DEFAULT SETTING
************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;/* 뭔지 모르겠다 */
    font-family: 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
}

header, section{
    margin: 0 auto;
    max-width: 1140px;
}


.clearfix{
    zoom:1;
}

.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    
}


.row{
    max-width: 1140px;
    margin: 0 auto;
}

.box{
    padding: 1%;
}

section{
    padding: 80px 0 0 0;
}


h1{
    color: #fff;
    letter-spacing: 1px;
    font-size: 240%;
    word-spacing: 4px;
}

h2{
    text-align: center;
    font-size: 180%;
    margin-bottom: 30px;
}


a:link,
a:visited{
    text-decoration: none;
    padding-bottom: 2px;
}





/************************************************
HEADER
************************************************/

header{
    background-image: url(img/wedding_main_cut.png),  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    background-position:top;
    background-size: cover;
    height: 100vh;
}


.header_text_box{
    text-align: center;
    position: absolute;
    width: 1140px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.header_text_box h1{
    color: #efefef;
}

.header_text_box i{
    color: #fd3939;
}

/************************************************
SECTION-MAP
************************************************/

.location_box:first-child{
    padding: 3% 1% 0 0;
}

.location_box:last-child{
    padding: 3%;
}




.map_img{
    width: 100%;
    
}




.location_how i{
    float: left;
    margin-right: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid #f39c12;
    border-radius: 50%;
    font-size: 150%;
    color: #f39c12;
}

.location_how p{
    display: inline-block;
    width: 80%;
}

.location_how{
    margin-bottom: 50px;
}

.btn_map {
    display: inline-block;
    width: 30%;
}

.btn_map img{
    height: 60px;
    margin-left: 20%;
}

.btn_map:link,
.btn_map:visited{
    border: 0;
}


/************************************************
SECTION-MOVIE
************************************************/
.movie_container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.movie_container .movie{
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/************************************************
SECTION-FAMILY
************************************************/

.short_letter{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;/* width가 70%니 margin-left가 15%이면 중간임 */
    
}


blockquote{
    line-height: 145%;
    margin-top: 40px;
    padding: 2%;
}

cite{
    display: block;
    margin-top: 4%;
}

cite img{
    height: 70px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

cite div{
    font-size: 90%;
    line-height: 130%;
    display: inline-block;
    vertical-align: middle;
}


/************************************************
SECTION-PHOTO
************************************************/

.show-case{
    list-style: none;
    width: 100%;
}

.show-case li{
    display: block;
    float: left;    
}

.show-case li figure{
    margin-left: 10%;
    margin-right: 10%;
}

.show-case .y2018,
.show-case .y2017,
.show-case .y2016,
.show-case .y2015{
    display: block;
    width: 33%;
    float: left;
}

.show-case .y2014{
    display: block;
    width: 25%;
    float: left;
}

.show-case .y2017,
.show-case .y2016,
.show-case .y2015,
.show-case .y2014{
    display: none;
}





.photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}


.photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}



.photo-btn{
    display: inline-block;
    font-weight: 300;
    width: 100%;
    margin: 5% 0 1% 0;
    border-top: 1px solid #555; 
    padding-top: 2%;
}








/************************************************
FOOTER
************************************************/
footer {
    margin-top: 20px;
    background-color: #444;
    padding: 20px;
    font-size: 85%;
}

footer p {
    line-height: 160%;
    color: #888;
    text-align: center;
}